$bg-pink: #fff9fb;
$color-pink: #eb2f96;
$bg-purple: #fcfafd;
$bg-purple-dark: #f5f0fc;
$color-purple: #7b61ff;
$color-purple-dark: #5e20b3;
$bg-blue: #f7faff;
$color-blue: #2f54eb;
$bg-green: #f8fef1;
$color-green: #52c41a;
$bg-gray: #f5f5f5;
$color-gray: #8c8c8c;

$bg-dark: #2f3136;
